<nav class="navbar navbar-default" id="header" ng-controller="HeaderCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button ng-click="showModalLogin()" type="button" class="btn btn-default" ng-click="isLogin = !isLogin" style="margin-top: 8px; margin-right: 50px">LOGIN</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
